{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Google Maps{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="container">
      <div id="googleMap" style="width:100%;height:400px;flex-basis: 0;flex-grow: 4;"></div>
      <div id="sidebar">
        <h2>Results</h2>
        <ul id="places"></ul>
        <button id="more">Load more results</button>
      </div>
    </div>
<script>
function initMap() {
    const pyrmont = { lat: -33.866, lng: 151.196 };
    map = new google.maps.Map(document.getElementById("googleMap"), {
        center: pyrmont,
        zoom: 15,
        mapId: "8d193001f940fde3",
  });

   const service = new google.maps.places.PlacesService(map);
  let getNextPage;
  const moreButton = document.getElementById("more");

  moreButton.onclick = function () {
    moreButton.disabled = true;
    if (getNextPage) {
      getNextPage();
    }
  };

  // Perform a nearby search.
  service.nearbySearch(
    { location: pyrmont, radius: 500, type: "store" },
    (results, status, pagination) => {
      if (status !== "OK" || !results) return;

      addPlaces(results, map);
      moreButton.disabled = !pagination || !pagination.hasNextPage;
      if (pagination && pagination.hasNextPage) {
        getNextPage = () => {
          // Note: nextPage will call the same handler function as the initial call
          pagination.nextPage();
        };
      }
    }
  );
}

function addPlaces(places, map) {
  const placesList = document.getElementById("places");

  for (const place of places) {
    if (place.geometry && place.geometry.location) {
      const image = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25),
      };

      new google.maps.Marker({
        map,
        icon: image,
        title: place.name,
        position: place.geometry.location,
      });

      const li = document.createElement("li");

      li.textContent = place.name;
      placesList.appendChild(li);
      li.addEventListener("click", () => {
        map.setCenter(place.geometry.location);
      });
    }
  }
}

window.initMap = initMap;

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc2JFzPYuC8YoVXD7xA6f4RRCPDCAFyYw&callback=initMap&libraries=places&v=weekly"defer></script>

{% endblock %}
</html>