{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
    <br>
    <h3>To help us make the world more accessible today!</h3>
{% endblock %}

{% block content %}
  <form method="post" id="authentication">
      <label for="username">Username</label>
      <input name="username" id="username" required>
      <!--<label for="email">Email</label>
      <input name="email" id ="email" required>-->
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      <p id="requirements"><i>Password must at least have:<b> 8 characters, a number and a capital letter</b></i></p>
      <input class="submit_button" type="submit" value="Register">
  </form>
    <p>Already have an account? <a href="{{ url_for('auth.login') }}">Log in here!</a></p>
{% endblock %}