<!doctype html>
<title>{% block title %}Flaskr{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="header">
    <h1>Access It!</h1>
    <br>
    <h3>Helping you access the world</h3>
</div>
<nav>
  <ul>
    {% if g.user %}
        <li class = "navbar" id="showing_user"><span>Welcome, {{ g.user['username'] }}!</span></li>
        <li class = "navbar"><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        <li class = "navbar"><a href="{{ url_for('blog.index') }}">Reviews</a></li>
        <li class = "navbar"><a href="{{ url_for('blog.googlemaps') }}">Google Maps</a></li>
    {% else %}
        <li class = "navbar"><a href="{{ url_for('auth.register') }}">Register</a></li>
        <li class = "navbar"><a href="{{ url_for('auth.login') }}">Log In</a></li>
        <li class = "navbar"><a href="{{ url_for('blog.index') }}">Reviews</a></li>
        <li class = "navbar"><a href="{{ url_for('blog.googlemaps') }}">Google Maps</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<footer>
    <script type="module" src="java.js"></script>
</footer>