<!doctype html>
<title>{% block title %}Flaskr{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="header">
    <h1>Access It!</h1>
    <br>
    <h3>Helping you access the world</h3>
</div>
<nav>
  <ul>
    {% if g.user %}
        <li id="showing_user"><span>Welcome, {{ g.user['username'] }}!</span></li>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        <li><a href="{{ url_for('blog.index') }}">Posts</a></li>
    {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        <li><a href="{{ url_for('blog.index') }}">Posts</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  <!--<section class = "images">
    <image src="{{url_for('static',filename = 'images/pavilion.jpg')}}"></image>
  </section>-->
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>